body {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper {
  height: 420px;
  width: 654px;
  padding: 80px;
  border-radius: 7px 7px 7px 7px;
  position: relative;
}

.next-button {
  position: absolute;
  top: 50%;
  right: 20px;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  color: #fff;
  text-decoration: none;
  transition: 0.5s;
}
.next-button:hover {
  text-decoration: dotted;
  color: #f9690e;
}

.prev-button {
  position: absolute;
  top: 50%;
  left: 20px;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  color: #fff;
  text-decoration: none;
  transition: 0.5s;
}
.prev-button:hover {
  text-decoration: dotted;
  color: #f9690e;
}

.product-img {
  float: left;
  height: 420px;
  width: 327px;
}
.product-img img {
  border-radius: 7px 0 0 7px;
}

.product-info {
  float: left;
  height: 420px;
  width: 327px;
  border-radius: 0 7px 7px 0;
  background-color: #fff;
  position: relative;
}

.back-button {
  position: absolute;
  top: 20px;
  right: 20px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--black);
  padding: 10px 20px;
  border-radius: 5px;
  color: var(--black);
  transition: 0.5s;
}
.back-button:hover {
  text-decoration: dotted;
  color: #f9690e;
}

.product-text {
  height: 300px;
  width: 327px;
}
.product-text h1 {
  margin: 0 0 0 38px;
  padding-top: 52px;
  font-size: clamp(1rem, 1vw + 2rem, 2.5rem);
  padding-right: 25px;
  margin-left: 30px;
  color: #474747;
  font-family: "Bentham", serif;
}

.product-price-btn p {
  font-family: "Bentham", serif;
}

.product-text h2 {
  margin: 0 0 30px 30px;
  font-size: clamp(0.5rem, 1vw + 0.7rem, 0.9rem);
  margin-top: 10px;
  padding-right: 25px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #f9690e;
  letter-spacing: 0.2em;
}
.product-text p {
  height: 125px;
  margin: 0 0 0 38px;
  font-family: "Playfair Display", serif;
  color: #757575;
  line-height: 1.7em;
  font-size: clamp(0.6rem, 1vw + 0.7rem, 0.9rem);
  font-weight: lighter;
  overflow: hidden;
}

.product-price-btn {
  height: 103px;
  width: 327px;
  margin-top: 17px;
  position: relative;
}
.product-price-btn p {
  display: inline-block;
  position: absolute;
  height: 50px;
  font-family: "Trocchi", serif;
  margin: 0 0 0 38px;
  font-size: 20px;
  font-weight: lighter;
  color: #f9690e;
}

span {
  display: inline-block;
  height: 50px;
  font-family: "Suranna", serif;
  font-size: 34px;
  color: #474747;
}

.product-price-btn button {
  float: right;
  display: inline-block;
  height: 50px;
  width: 150px;
  margin: 0 40px 0 16px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: #f9690e;
  cursor: pointer;
  outline: none;
  transition: transform 0.5s;
}
.product-price-btn button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.07);
}

@media (max-width: 600px) {
  body {
    padding: 0;
    margin: 0;
  }
  .wrapper {
    width: 100%;
    height: 100vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .next-button {
    position: absolute;
    top: 50%;
    right: 10px;
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
  }
  .prev-button {
    position: absolute;
    top: 50%;
    left: 10px;
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
  }
  .product-info {
    background-color: rgba(255, 255, 255, 0.84);
    width: 80%;
    padding: -10px;
    border-radius: 7px;
  }
  .product-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
  }
  .product-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/*# sourceMappingURL=info_st.css.map */
